/* Layout and background settings for the entire page */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #172F4A, #3BAAE0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Styling for the container box, including size, color, and shadow */
.container {
    background-color: white;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
    height: 250px;
}

/* Formatting for the title text */
.title {
    font-size: 24px;
    margin-bottom: 1px;
}

/* Styling for the description text */
.description {
    font-size: 12px;
    margin-bottom: 20px;
    color: gray;
}

/* Appearance and layout of the email input field */
input[type="email"] {
    width: 60%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
input[type="password"] {
    width: 60%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* Styling for the button element, including hover effect */
button {
    background-color: #3BAAE0;
    color: white;
    border: none;
    padding: 10px;
    width: 65%;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #1558b2;
}
#back-btn {
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 25px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  z-index: 1000;
  background: none;
}
